@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .blurry-bg {
  position: relative;
  top: 100%;
}

.blurry-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  filter: blur(10px);
  z-index: -1;
  border-radius: 8px;
} */

.toggle-button {
  position: relative;
  width: 58px;
  height: 26px;
  font-size: 16px;
  background-color: rgb(242, 201, 77);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-button::before {
  content: "";
  transition: 0.3s;
  position: absolute;
  width: 25px;
  height: calc(100% - 2px);
  background-color: black;
  border-radius: 50%;
  left: 1px;
  transform: translateY(-50%);
}

.toggle-button.on::before {
  left: 100%;
  transform: translateY(-50%) translateX(-103%);
}
